@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?28637274');
  src: url('../fonts/fontello/fontello.eot?28637274#iefix') format('embedded-opentype'),
  url('../fonts/fontello/fontello.woff2?28637274') format('woff2'),
  url('../fonts/fontello/fontello.woff?28637274') format('woff'),
  url('../fonts/fontello/fontello.ttf?28637274') format('truetype'),
  url('../fonts/fontello/fontello.svg?28637274#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28637274#fontello') format('svg');
  }
}
*/

//- Media queries
@mixin w320() {
  @media screen and (max-width: 479px) {
	& {
	  @content;
	}
  }
}

@mixin w480() {
  @media screen and (max-width: 767px) {
	@content;
  }
}

@mixin w768() {
  @media screen and (max-width: 1023px) {
	@content;
  }
}

@mixin w1024() {
  @media screen and (max-width: 1230px) {
	@content;
  }
}
@mixin desktop() {
  @media screen and (min-width: 1024px) {
	@content;
  }
}
@mixin desktop-mini() {
  @media screen and (min-width: 768px) and (max-width: 1248px) {
	@content;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow:before { content: '\e800'; } /* '' */
.icon-quote:before { content: '\e801'; } /* '' */
.icon-arrow1:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-tel:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-del:before { content: '\e807'; } /* '' */
.icon-txt:before { content: '\e808'; } /* '' */
.icon-doc:before { content: '\e809'; } /* '' */
.icon-pdf:before { content: '\e80a'; } /* '' */
.icon-jpg:before { content: '\e80b'; } /* '' */
.icon-avi:before { content: '\e80c'; } /* '' */
.icon-flv:before { content: '\e80d'; } /* '' */
.icon-wav:before { content: '\e80e'; } /* '' */
.icon-amp:before { content: '\e80f'; } /* '' */
.icon-arrow3:before { content: '\e811'; } /* '' */
.icon-arrow4:before { content: '\e812'; } /* '' */
*{
  box-sizing: border-box;
}

.is-green-text{
  color: $color-text-green;
	@include w480(){
	  font-size: 12px !important;
	}
}
.big-letter{
  float: left;
  font-size: 113px;
  margin-top: -34px;
  padding-right: 10px;
  color: $color-text-green;
  font-family:$lora;
  @include w480(){
	font-size: 63px;
	margin-top: -13px;
	margin-bottom: -19px;
  }

}

@mixin triangle($direction,$width,$height,$color){
  width: 0px;
  height: 0px;
  border-style: solid;
  @if $direction == top {
	border-width: 0 $width/2 $height $width/2;
	border-color: transparent transparent $color transparent;
  } @else if $direction == right {
	border-width: $height/2 0 $height/2 $width;
	border-color: transparent transparent transparent $color;
  } @else if $direction == bottom {
	border-width: $height $width/2 0 $width/2;
	border-color: $color transparent transparent transparent;
  } @else if $direction == left{
	border-width: $height/2 $width $height/2 0;
	border-color: transparent $color transparent transparent;
  }
}
strong{
  font-weight: bold;
}

img{
  max-width:100%;
  height: auto;
}

.mfp-close-btn-in .mfp-close{
  color: #fff;
  opacity: 1;
  font-size: 45px;
  right: 30px;
  top: 30px;
  @include w320{
	right: 5px;
	top: 5px;
  }
}
.mfp-content{
  position: static !important;
}
body{
  overflow-x: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body{
	overflow-x: auto;
  }
  .main{
	overflow: hidden;
	width: 1024px;
  }
}

.mfp-bg{
  opacity: 1;
  background-size: cover;
	  background-size: cover;

	&.consultation-back{
	  background: url("../img/consultation.png");

	}

  &.login-back{	  background: url("../img/login-back.png");
  }


}
footer{
  .mfp-bg{
	opacity: 0;
	z-index:-1;
	display: none;
  }
  .fancybox-overlay{
	opacity: 0;
	z-index:-1;
	display: none;
  }
}

.watch__more{
  text-align: center;
  color: $color-golddark;
  margin:50px 0 90px;
  @include w480(){
	margin:20px 0 70px;
  }
  &-link{
	color: $color-golddark;
	font-family:$lora;
	font-size: 20px;
	text-decoration: none;
	position: relative;
	padding: 30px;
	@include w480(){
	  font-size: 16px;
	}
	@include desktop-mini{
	  font-size: 18px;
	}
	&:before{
	  font-family: "fontello";
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  width: 1em;
	  margin-right: .2em;
	  text-align: center;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1em;
	  margin-left: .2em;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  content: '\e812';
	  position: absolute;
	  transform: translateX(-50%) rotate(90deg);
	  bottom: -18px;
	  left: 50%;
	  transition: all .3s ease;
	  font-size: 16px;
	  @include w480(){
		bottom: 0;
		font-size: 14px;
	  }
	  @include desktop-mini{
		bottom: 0;
	  }
	}
	.icon-arrow4{
	  position: absolute;
	  transform: translateX(-50%) rotate(90deg);
	  font-size: 12px;
	  bottom: -31px;
	  left: 50%;
	}
  }
}

.watch__more-mobile{
  margin:20px 0;
  padding-left: 35px;
  @include w480(){
	margin: 0;
	padding-left: 27px;
  }
  a{
	color: $color-golddark;
	font-family:$lora;
	font-size: 13px;
	position: relative;
	&:before{
	  position: absolute;
	  right: -30px;
	  top: 50%;
	  margin-top: -5px;
	  font-size: 9px;
	}
  }
}

p.is-first-letter, div.is-first-letter{
  font-size: 18px;
  &:first-letter{
	font-size: 58px;
	font-family:$lora;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	position: relative;
	border-bottom:1px solid $color-yellow;
	@include w480(){
	  font-size: 47px;
	}

  }
}

section.is-gray, div.is-gray{
  background-color: #F8F8F8;
}

.come-back{
  margin:40px 0 40px 18px;
  @include desktop-mini{
	margin:40px 0 40px 30px;
  }
  &__link{
	color: $color-golddark;
	font-family:$lora;
	font-size: 18px;
	&:before{
	  transform: rotate(180deg);
	  font-size: 12px;
	  margin-right: 17px;
	  vertical-align: middle;
	  margin-top: -3px;
	  font-weight: bold;
	}
  }
}


.fancybox{
  //&-outer{
  //position: static !important;
  //}
  //&-inner{
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //}
  &-overlay{
	background: url("../img/consultation.png");
	background-size: cover;
  }
  &-wrap{
	//position: static !important;
  }
  &-skin{
	background-color: transparent !important;
	//position: static !important;
  }

  &-opened{
	.fancybox-skin{
	  box-shadow: none;
	}
  }
  &-close{
	color: #fff !important;
	font-size:47px !important;
	top: 0 !important;
	right: 40px !important;
	position: fixed !important;
	background-image: none !important;
	&:hover{
	  color: #ddd !important;
	}
	&:before{
	  content: '×' !important;
	}
  }
}

html.lock{
  overflow: hidden;
}

html.header-mobile-lock{
  overflow: hidden;
}

textarea{
  resize: none;
}

.form-standart .form-standart__field{
  @include w480(){
	margin-bottom: 30px !important;
  }
}

.accordeon-list{
  @include w480(){
	display: none;
  }
}
.accordeon-btn {
  color: #fff;
  font-family:$lora;
  position: relative;
  padding:30px 10px 30px 30px;
  border-bottom: 1px solid #336566;
  font-size: 15px;
  &:nth-child(odd){
	background-color: #003334;
  }
  &:nth-child(even){
	background-color: #003334;
  }
  &:last-child{
	border-bottom: none;
  }
  &:before{
	font-size: 11px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .35s ease;

  }
  &.is-active{
	&:before{
	  transform:translateY(-50%) rotate(90deg) ;
	}
  }
}

@media screen and (max-width: 370px){
  .fancybox-wrap,
  .fancybox-skin,
  .fancybox-outer,
  .fancybox-inner,
  .fancybox-image,
  .fancybox-wrap iframe,
  .fancybox-wrap object,
  .fancybox-nav,
  .fancybox-nav span,
  .fancybox-tmp{
	min-width: 273px !important;

  }
  .fancybox-wrap{
	left: 9px !important;

  }



}

@media screen and (max-width: 370px) {
  #modal-consultation{
	min-width:273px;
  }
}

@media screen and (min-width: 1175px) and (max-width: 1248px){
  .menu-top__first-link{
	font-size: 12px !important;
	padding:30px 15px 24px 15px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1174px){
  .menu-top__first-link{
	font-size: 11px !important;
	padding:30px 11px 24px 12px !important;
  }
}


*.is-short{
  margin-right:auto;
  margin-left: auto;
  @include desktop(){
	max-width: 960px;
  }
}
.main{
  .fancybox-overlay{
	display: none !important;
  }
}

.layout__block-bottom{
  margin-bottom: 40px;
  @include w480{
	margin-bottom: 20px;
  }
}




