mixin breadcrumbs()
	.breadcrumbs.bem&attributes(attributes)
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#' title='') Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#' title='') Каталог
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#' title='') Категория
			li.breadcrumbs__item
				span.breadcrumbs__text Страница
