#modal-consultation{
  display: none;
  max-width: 980px;
  margin:0 auto;

	.form-standart{
	  max-width:980px;
	  margin:0 auto;
	  &__plate{
		background-color: transparent;
		padding: 0;
	  }
	  &__title{
		color: #fff;
		font-family:$lora;
		margin-bottom: 30px;
		margin-left: 0;
		margin-right: 0;
		font-size: 28px;
		text-align: left;
		@include w480{
		  font-size: 24px;
		  margin-bottom: 20px;
		}
	  }
	  &__field{
		display: block;
		&.is-inline{
		  display: inline-block;
		  width: 33.333333%;
		  @include w480(){
			display: block;
			width: 100%;
		  }
		}
	  }
	  &__item{
		display: block;

	  }
	  &__inputs{
		float: none;
		width: 100%;
		margin-top: 10px;
		input{
		  border:2px solid #F7F9F8;
		  background-color: rgba(53,92,90, .6);
		  color: #fff;
		  padding: 20px;
		  font-size: 16px;
		}
		textarea{
		  border:2px solid #F7F9F8;
		  background-color: rgba(53,92,90, .6);
		  color: #fff;
		  padding: 20px;
		  font-size: 16px;
		  height: 160px;

		}
	  }
	  &__btn {
		position: relative;

		&:before {
		  position: absolute;
		  right: 35px;
		  color: $color-greendark;
		  top: 50%;
		  transform: translateY(-50%);
		}
	  }
	  &__error{
		color: #fff;
		margin-top: 5px;
		position: absolute;
	  }
	  &__none{
		color: #fff;
		margin-top: 5px;
		position: absolute;
	  }
	}
  .textarea-question{
	width: 100%;
  }

  input.button-primary{
	  border-radius: 2px;
	  background-color: $color-yellow;
	  font-family:$lora;
	  color: $color-greendark;
		border:none;
	font-size: 20px;
	padding:10px 80px 10px 20px;


  }
  ::-webkit-input-placeholder {color:#F7F9F8;}
  ::-moz-placeholder          {color:#F7F9F8;}/* Firefox 19+ */
  :-moz-placeholder           {color:#F7F9F8;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#F7F9F8;}

}


.success-message-modal__caption{
  color: #fff;
  font-size: 30px;
}
