.list-standart{
  width: 100%;
  margin:40px 0;
  @include w480(){
	margin-top: 0;

  }

  &.services-list{
	margin-top: -60px;
	padding-top: 70px;
	padding-bottom: 50px;
	margin-bottom: 0;
	@include w480(){
	  margin: 0;
	  padding: 0;
	}
	.list-standart__caption{
	  margin-top: 50px;
	}
  }
  &__caption{
	font-family:$lora;
	color: #000;
	margin-bottom: 30px;
	@include w480(){
	  margin-bottom: 17px;
	}
  }
}
